/* ========================= */
/* style.css */
/* ========================= */

body{
margin:0;
padding:0;
font-family:Arial;
background:#111;
color:white;
}

.container{
padding:20px;
}

h1{
text-align:center;
margin-bottom:30px;
}

input{
width:100%;
padding:15px;
margin-bottom:15px;
border:none;
border-radius:10px;
font-size:16px;
box-sizing:border-box;
background:#222;
color:white;
}

button{
width:100%;
padding:15px;
margin-bottom:10px;
border:none;
border-radius:10px;
font-size:16px;
background:#00b894;
color:white;
font-weight:bold;
}

.hasil{
margin-top:20px;
padding:20px;
background:#222;
border-radius:10px;
line-height:30px;
}

.card{
background:#222;
padding:15px;
border-radius:10px;
margin-bottom:15px;
}
